:root {
    --cyan: #06BEE1;
    --saphire: #1768AC;
    --denim: #2541B2;
    --royal: #03256C;
    --cream: #FFFDE4;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#chess-board {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    width: 800px;
    height: 800px;

}

.square {
    width:100px;
    height: 100px;
}

.light {
    background-color: var(--cream);
    color: var(--saphire);
}

.dark {
    background-color: var(--saphire);
    color: var(--cream);
}

.coordinate {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
}

.number {
    left: 2px;
}

.letter {
    margin-left: 84px;
}

.piece {
    position: relative;
    z-index: 2;
    width: 100px;
    top: 0;
}