:root {
    --cyan: #06BEE1;
    --saphire: #1768AC;
    --denim: #2541B2;
    --royal: #03256C;
    --cream: #FFFDE4;
    --yellow: #FFFF8F;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#chess-board {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    width: 800px;
    height: 800px;

}

.square {
    width:100px;
    height: 100px;
    position: relative;
}


.light {
    background-color: var(--cream);
    color: var(--saphire);
}

.dark {
    background-color: var(--saphire);
    color: var(--cream);
}

.selected-square {
    background-color: var(--yellow);
}

.coordinate {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
}

.number {
    left: 2px;
}

.letter {
    margin-left: 84px;
}

.piece {
    position: relative;
    z-index: 2;
    width: 100px;
    top: 0;
}

.move-prompt {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 30px;
    height: 30px;
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 100%;
    z-index: 10;
}

.capture-prompt {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgba(27, 27, 27, 0.5);
    z-index: 10;
}